.justify {
	text-align: justify;
}

.center {
	text-align: center;
}

.read-more {
	text-align:right;
}
.read-more i {
	cursor: pointer;
}
.read-more:hover{
	text-decoration:underline;
}

/* ------- MODAL ------- */

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 5px;
  width: 50%;
}

.modal-medium {
	margin: 5% auto !important;
	width: 60% !important;
}
.modal-large {
	width: 75% !important;
	margin: 2% auto !important;
	max-height: 90%;
    overflow-y: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* ------- ACCORDION BOX ------- */

.block-list{
	display: flex;
   flex-direction: column;
   padding: 20px;
   background-color: whitesmoke;
   margin-bottom: 5px;
}

.block-list-header {
	padding: 20px 0px;
	align-content: center;
	font-size: 1.5em;
}
.block-list-header i {
    margin: 0 1em;
}

.block-list-content{
	padding: 0 2em;
}
.block-list-content ul{
	margin: 0;
	list-style: disc;
	font-weight: 300;
}


/* ------- GALLERY ------- */

.gallery{
	display: none;
	width: 100%;
	grid-template-rows: 7fr 1fr;
	background: #021919;
	position: relative;
	height: 52vh;
	--line-offset: calc((5vh + 8px) / 2);
}

.show {
	display: grid !important;
}


.gallery ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    display: flex;
	width: 50%;
}

.gallery ul li {
	
}

.gallery .tab {
	width: 40px;
	height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /*clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);*/
    /*shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);*/
	border-radius: 50%;
    z-index: 0;
    transition: width 0.5s;
	border: solid 2px whitesmoke;
	opacity: .7;
	
	background: linear-gradient(
        #efefef,
        #efefef var(--line-offset),
        #021919 var(--line-offset)
    );
}

.gallery .tab:hover{
	opacity:1;
}

.gallery .tab img {
	width: 100%;
    height: 100%;
    z-index: 10;
    cursor: pointer;
    /*clip-path: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);*/
    /*shape-outside: polygon(0% 50%, 15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%);*/
	border-radius: 50%;
    transition: width 0.5s;
}

[type=radio] {
    display: none;   
}

.gallery .preview-list {
    background: linear-gradient(
        #021919,
        #021919 var(--line-offset),
        #efefef var(--line-offset)
    );
	
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


[type=radio]:checked ~ label ~ .content{
    text-align: center;
    z-index: 8;
}


[type=radio]:checked ~ label .tab{
    width: 0;
	border: unset !important;
}

.gallery .content {
    position: absolute;
    background: #021919;
    top: 1vh;
    left: 0;
    width: 100%;
    height: 85%;
    overflow: hidden;
    display: flex;
    align-items: center;
	justify-content: center;
	padding-bottom: 0 !important;
}

.gallery .content img {
    height: auto;
    height: 100%;  
}

/* ------- FILE ------- */

.file-display {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}
.file-display div {
	width: 50%;
    justify-content: center;
}
.file-display div a {
	cursor: pointer;
	color: unset;
	display: flex;
	flex-direction: column;
	width: 140px;
    text-align: center;
	border: none !important;
}
.file-display a:hover i {
	color: crimson;
}
.file-display div i {
	font-size: 3em;
}
