.justify {
	text-align: justify;
}

.center {
	text-align: center;
}

.read-more {
	text-align:right;
}
.read-more i {
	cursor: pointer;
}
.read-more:hover{
	text-decoration:underline;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 30px;
  border-radius: 5px;
  width: 50%;
}

.modal-large {
	width: 75% !important;
	margin: 5% auto !important;
	max-height: 85%;
    overflow-y: auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}


.block-list{
	display: flex;
   flex-direction: column;
   padding: 20px;
   background-color: whitesmoke;
}

.block-list-header {
	padding: 20px 0px;
	align-content: center;
	font-size: 1.5em;
}
.block-list-header i {
    margin: 0 1em;
}

.block-list-content{
	padding: 0 2em;
}
.block-list-content ul{
	margin: 0;
	list-style: disc;
	font-weight: 300;
}